# HELP.md
HELP.md

# Maven Targets
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Tool Suite
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# NetBeans
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
### VS Code ###
.vscode/

# Node Modules
node_modules/

# Angular Build Outputs
dist/
dist-angular/
tmp/
out-tsc/

# Angular Cache
.angular/cache/
.angular/

# TailwindCSS Cache
.tailwind/

# NPM Logs and Debug Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.*.local

# IDE Specific Files
*.sw?
*.sublime-*
*.bak
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.log.*
npm-debug.log
yarn-debug.log
lerna-debug.log

# Coverage Reports
coverage/

# Test Output
junit-reports/
test-results/
